@import url('https://fonts.googleapis.com/css?family=Codystar:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');
:root{
	--rose:#FE2055;
	--noir:#000000;
	--gris:#222222;
	--blanc:#FFFFFF;
	--jaune:#F7FF3C;
	--vert: #A8FAAF;
	--bleu: #318ce7;
	--main-width: 60vw;
}
body {
    padding: 0px;
    margin: 0px;
    background: var(--noir);
}
.navbar {
	font-family: 'Montserrat', lighter;
    background:var(--gris);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-nav {
	list-style-type: none; 
    justify-content: center;
    display: flex;
}

.navbar-nav li{ 
	margin-left: 3em;
	margin-right: 3em;
	font-size: 1.25em;
}
.navbar-nav a {
	color: var(--blanc);
	text-decoration: none;
}
.container {
	justify-content: center;
	font-size: 4em;
	color: var(--blanc);
}

.description {
	margin-top: 3em;
	font-family: 'Codystar', sans-serif; 
	justify-content: center;
	display: flex;
}
.description h1{
	margin-top: 1.5em;
}

.article {
	font-family: 'Montserrat';
	list-style-type: none; 
    font-size: 0.25em;
	display: flex;
	justify-content: center;
	align-items: center;

}
.article li:hover{
	text-align: center;
	color: var(--noir);
	transition-delay: 0.1s;
}
.article li:hover:nth-child(1){
	background: var(--rose);
	box-shadow: 0 0 10px var(--rose), 0 0 40px var(--rose), 0 0 80px var(--rose);
}
.article li:hover:nth-child(2){
	background: var(--jaune);
	box-shadow: 0 0 10px var(--jaune), 0 0 40px var(--rose), 0 0 80px var(--jaune);
}
.article li:hover:nth-child(3){
	background: var(--vert);
	box-shadow: 0 0 10px var(--vert), 0 0 40px var(--rose), 0 0 80px var(--vert);
}
.article li{
	color: var(--blanc);
	margin-left: 3em;
	margin-right: 3em;
	height: 15%;
	width: 15%;
}
.article li:nth-child(1){
	border: 2px solid var(--rose);
}
.article li:nth-child(2){
	border: 2px solid var(--jaune);
}
.article li:nth-child(3){
	border: 2px solid var(--vert) ;
}
.article h3{
	text-align: center;
}
.article li img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 3em;
	width: 3em;
	filter: invert(100%);
}
.article li:hover img{
	filter: invert(0%);
}
.main {
	height: 100vh;
}
.title {
	font-family: 'Codystar', bold;
	color: var(--rose);
	text-align: center;
	margin-left: 1em;
	font-size: 3em;
}
.article-main {
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', bold;
}
.ECEM {
	border: 2px solid var(--bleu);
	margin: 2em;
}
.ECEM header{
	color: var(--bleu);
	text-align: center;
	font-size: 2em;
}
.ECEL {
	border: 2px solid var(--bleu);
	margin: 2em;
}
.ECEL header{
	color: var(--bleu);
	text-align: center;
	font-size: 2em;
}
.Chula {
	border: 2px solid var(--jaune);
	margin: 2em;
}
.Chula header{
	color: var(--jaune);
	text-align: center;
	font-size: 2em;
}
.date {
	color: var(--gris);
	text-align: center;
	font-size: 1em;
}
.article-main p {
	color: var(--blanc);
	font-size: 1em;
	padding: 1em;
}
.diplome1  {
	color: var(--bleu);
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 1em;
}
.diplome2 {
	color: var(--jaune);
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 1em;
}
.diplome3 {
	color: var(--bleu);
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 1em;
}
.cursus{
	color: var(--blanc);
	margin-left: 1em;
}
.cours {
	margin-left: 4em;
}
.footer-copyright {
    color: var(--rose);
    font-family: 'Montserrat';
    text-align: center;
  	left: 0;
  	bottom: 0;
  	width: 100%;

}
iframe {
	margin-top: 10em;
  	width: 100%;
  	height: calc(var(--main-width) * var(--aspect-ratio));
}